@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

@font-face {
  font-family: Anticva;
  src: ("../fonts/Anticva-Regular.woff2");
  src: url("../fonts/Anticva-Regular.woff2") format("woff2"),
    url("../fonts/Anticva-Regular.woff") format("woff");
  font-display: "swap";
}

:root {
  --primary-clr: #e5fd05;
  --secondary-clr: #7980dc;
  --background-clr: #031946;
  --alt-background-clr: #2b2b4a;
  --dark-text-clr: #000;
  --light-text-clr: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

main {
  background-color: var(--background-clr);
}

/* HEADER AND NAVBAR STYLES --- START */

header {
  color: var(--background-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}

.menu-btn {
  display: none;
}
.menu-btn div {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s ease;
}

header.scrolled {
  color: var(--background-clr);
  position: fixed;
  transition: all 0.6s ease-in-out;
  background-color: var(--dark-text-clr);
}

#sectionHeading {
  font-size: 2rem;
  font-weight: 800;
  transition: all 0.6s ease-in-out;
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  min-width: 45%;
  margin-right: 1rem;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
}

#nav-menu li {
  padding: 0 3rem;
  position: relative;
  color: var(--light-text-clr);
  opacity: 1;
  cursor: pointer;
}

#nav-menu li:nth-child(-n + 4) {
  border-right: 5px solid var(--primary-clr);
}

#nav-menu li p {
  padding: 3px;
  border-radius: 5px;
}

#nav-menu li.selected p {
  transition: all 0.5s ease-in;
  /* border-bottom: 3px solid var(--primary-clr); */
  background-color: var(--primary-clr);
  color: var(--dark-text-clr);
  padding: 3px;
  border-radius: 5px;
}

.navbar a {
  color: var(--background-clr);
  text-decoration: none;
}
#top-logo-text {
  margin-left: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  border: 5px solid var(--background-clr);
  padding: 0.5rem;
  align-self: center;
  transition: all 0.6s ease-in-out;
}
#top-logo-text.scrolled {
  border: 4px solid var(--light-text-clr);
  color: var(--light-text-clr);
  transition: all 0.6s ease-in-out;
}

/* HEADER AND NAVBAR STYLES --- END */

/* HERO SECTION STYLES --- START */

.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    white 0%,
    white 44.9%,
    #031946 45%,
    #031946 100%
  );
  /* background-color: #031946; */
}

#home-text {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  padding: 0 2rem 0 6rem;
  align-self: flex-start;
}

.home-text-decor {
  /* background: var(--primary-clr);
  height: 50%; */
  background: repeating-linear-gradient(
    #fff,
    #fff 60%,
    var(--primary-clr) 60.1%,
    var(--primary-clr) 100%
  );
}

#home-text h3 {
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0;
}
#home-text h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
#home-text button {
  background: white;
  border: 6px solid #031946;
  padding: 1rem 3rem;
  margin: 2rem 0;
  font-weight: bolder;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .4s ease-out;
}
#home-text button:hover{
  color: var(--light-text-clr);
  background-color: var(--background-clr);
  
}

#home-animation {
  /* background: coral; */
  background: #031946;

  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
  max-width: 55%;
  justify-self: flex-start;
}

.animation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: rotate3d(0.5, 0.3, 1, 3deg);
  transform-style: preserve-3d;
  position: relative;
}

.effect-display {
  background: rgba(255, 255, 255, 0.8);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  position: relative;
  min-height: 40rem;
  width: 55rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}
.code-display {
  background: rgba(255, 255, 255, 0.9);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  position: relative;
  height: 12rem;
  width: 18rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -6rem;
  left: -3rem;
  z-index: 2;
  transform: translateZ(1000px);
}

.codeblock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.code-line {
  display: flex;
  flex-wrap: nowrap;
}

.code-line:nth-child(3) > * {
  position: relative;
  left: 1rem;
}
.code-line:nth-child(5) > *:nth-child(1) {
  position: relative;
  left: 1.25rem;
}
.code-line:nth-child(8) > *:nth-child(1) {
  position: relative;
  left: 1.5rem;
}

.codeblock > div > * {
  display: inline-block;
  margin: 0.5rem 0.2rem;
}

.code-el-1 {
  width: 0px;
  height: 6px;
  background: linear-gradient(
    90deg,
    #9f19ab 4%,
    #ae25b1 24%,
    #d744bf 65%,
    #ff63ce 100%
  );
  border-radius: 3px;
}
.code-el-2 {
  width: 0px;
  height: 6px;

  background: linear-gradient(
    90deg,
    #ffa98c 116606.01%,
    #ffa98c 116759.27%,
    #ffab8b 116912.54%,
    #ffad89 117065.81%,
    #ffb187 117219.07%,
    #ffb684 117372.34%,
    #ffbb80 117525.61%,
    #ffc17d 117678.87%,
    #ffc779 117832.14%,
    #ffce75 117985.41%,
    #ffd371 118138.67%,
    #ffd86e 118291.94%,
    #ffdb6c 118445.21%,
    #ffde6a 118598.47%,
    #ffdf69 118751.74%,
    #ffe069 118905.01%
  );
  border-radius: 3px;
}
.code-el-3 {
  width: 0px;
  height: 6px;
  background: linear-gradient(90deg, #3d065f 0%, #5f27bd 100%);
  border-radius: 3px;
}
.code-el-4 {
  width: 0px;
  height: 6px;

  background: linear-gradient(
    90deg,
    #00d5e4 0%,
    #00d5e4 6.67%,
    #00d4e2 13.33%,
    #00d2e0 20%,
    #00cfde 26.67%,
    #00ccda 33.33%,
    #01c8d6 40%,
    #01c3d1 46.67%,
    #01bfcc 53.33%,
    #01bac7 60%,
    #01b6c3 66.67%,
    #01b3bf 73.33%,
    #01b0bc 80%,
    #01aeba 86.67%,
    #02adb9 93.33%,
    #02adb9 100%
  );
  border-radius: 3px;
}

/* ANIMATION STYLES*/

.animation-canvas {
  /* opacity: 1; */
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 101%;
  height: 101%;
  background: linear-gradient(
    0.3deg,
    #052d81 4.08%,
    rgba(5, 45, 129, 0.92) 21.6%,
    rgba(5, 45, 129, 0.76) 43.24%,
    rgba(5, 45, 129, 0.6) 64.36%,
    rgba(5, 45, 129, 0.45) 83.42%,
    rgba(5, 45, 129, 0.26) 103%
  );
  z-index: 2;
  -webkit-perspective: 9999px;
  perspective: 9999px;
  border-radius: 5px;
}

.animation-items {
  display: flex;
  opacity: 0;
}

/* TOP BAR STYLES*/
.top-bar {
  background-color: #262b2f;
  width: 99.3%;
  height: 2rem;
  border-radius: 5px 5px 0 0;
  position: relative;
  left: -1px;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar-dots {
  display: flex;
  margin: 5px;
}
.dot1 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ee6a5f;
  margin: 5px;
}
.dot2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f5bd4f;
  margin: 5px;
}
.dot3 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #61c454;
  margin: 5px;
}

.toolbar-left-btns {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.toolbar-middle {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.toolbar-middle p {
  display: inline-block;
  margin-left: 5px;
  color: white;
  font-size: 0.7rem;
}
.icon-mac-lock-address {
  display: flex;
  align-items: center;
}

.toolbar-mac {
  margin: 5px;
}

/* ANIMATION LEFT*/
.animation-left {
  width: 40%;
  padding: 1rem 0 0 2rem;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.left-right {
  position: relative;
  top: 2rem;
}
.left-left {
  position: relative;
  top: 3rem;
}

.player-container {
  opacity: 0;
}

.video-player-animation {
  width: 110px;
  height: 210px;
  background: rgba(78, 93, 255, 0.4);
  border: 5px solid white;
  border-radius: 20px;
  position: relative;
}
.video-player-animation::before {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -4px;
  left: 30px;
  background: white;
  border-radius: 5px;
  clip-path: inset(0 0 0 0);
}
.mask {
  background: white;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
.player-icon {
  background: url(../images/player-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 4.4rem;
  left: 2.3rem;
  z-index: 1;
  transform: translateZ(-3px);
}

.video-player-shadow::before {
  content: "";
  width: 100%;
  height: 210px;
  background: #031946;
  z-index: -3;
  top: 2.4rem;
  left: 2.4rem;
  border-radius: 20px;
  position: absolute;
  transform: translateZ(-2px);
}
.video-player-shadow {
  width: 110px;
  height: 210px;
  background: rgba(166, 174, 255, 0.8);

  z-index: -1;
  top: 1rem;
  left: 1rem;

  border-radius: 20px;
  position: absolute;
  transform-style: preserve-3d;
}

.video-player-shadow::after {
  content: "";
  width: 100%;
  height: 210px;
  background: #7980dc;

  top: 1.2rem;
  left: 1.2rem;
  border-radius: 20px;
  position: absolute;
  transform: translateZ(-1px);
}

.animation-left-glass {
  position: absolute;
  bottom: 3rem;
  left: -3rem;
  width: 220px;
  height: 80px;

  background: linear-gradient(
    90deg,
    #7980dc 0%,
    rgba(121, 128, 220, 0.5) 38.54%,
    rgba(121, 128, 220, 0.15) 71.87%,
    rgba(121, 128, 220, 0) 100%
  );

  display: none;
}

.narrow-text-block::before {
  content: "A";
  font-size: 3rem;
  color: #e5fd05;
  position: absolute;
  top: -2rem;
  left: 0;
}
.narrow-text-block {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 1rem;
  opacity: 0;
}

.narrow-text-block::after {
  content: "";
  position: absolute;
  bottom: -130%;
  left: 0;
  width: 100%;
  height: 300px;

  background: linear-gradient(
    180deg,
    #7980dc 0%,
    rgba(121, 128, 220, 0.5) 38.54%,
    rgba(121, 128, 220, 0.15) 71.87%,
    rgba(121, 128, 220, 0) 100%
  );
}

/* ANIMATION RIGHT*/
.animation-right {
  width: 60%;
  padding: 2rem 0 0 0;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.card-block {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  width: 7.5rem;
  height: 11rem;
  position: relative;
  background: #7980dc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
  box-shadow: 10px 20px 20px rgb(3 25 70 / 100%), 0px 0px 50px rgb(0 0 0 / 20%);
  padding: 0.5rem 0;
  opacity: 0;
  rotate: -10;
}

.circle {
  background: #7980dc;
  border-radius: 50%;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  margin-bottom: 0.8rem;
  opacity: 0;
}
.short-white-line {
  opacity: 0;
  width: 50%;
  margin: 0.5rem 0;
  height: 3px;
  background-color: white;
}
.big-text-block {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 2rem;
  align-self: flex-start;
  top: 3rem;
}

.big-text-block::after {
  content: "";
  position: absolute;
  bottom: -19rem;
  left: 0;
  width: 100%;
  height: 250px;

  background: linear-gradient(
    180deg,
    #7980dc 0%,
    rgba(121, 128, 220, 0.5) 38.54%,
    rgba(121, 128, 220, 0.15) 71.87%,
    rgba(121, 128, 220, 0) 100%
  );
}
.long-yel-line {
  width: 0%;
  margin: 0.5rem 0;
  height: 4px;
  background-color: #e5fd05;
  transform-origin: right;
  opacity: 0;
}
.short-yel-line {
  width: 0%;
  margin: 0.5rem 0;
  height: 4.3px;
  background-color: #e5fd05;
}

.linked-blocks {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-left: 1.7rem;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.block-1 {
  width: 3.5rem;
  height: 3.5rem;
  background: #e5e7ff;
  margin-top: 1.5rem;
  box-shadow: 10px 20px 20px rgb(3 25 70 / 100%), 0px 0px 50px rgb(0 0 0 / 20%);
}

.connector {
  width: 2px;
  height: 100px;
  position: absolute;

  left: 28px;
  background: #e5e7ff;
  z-index: 1;
}

/* HERO SECTION STYLES --- END */

/* PROJECTS SECTION --- START */

.projects {
  padding: 10rem 0;
  background-color: var(--background-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-title-projects {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  right: -15%;
  z-index: 1;
  background-image: url("../images/project-tiles/projects-section-name.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.projects a {
  text-decoration: none;
  color: black;
}

.project-item {
  padding: 8rem 5rem;

  min-height: 30rem;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.project-browser img {
  width: 120%;
}
.project-mobile {
  position: relative;
  top: -5rem;
}
.project-mobile img {
  width: 130%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 35%;
  height: 20rem;
}

.project-description {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1.5rem 1rem 1.5rem 5rem;
  font-size: 1.4rem;
  margin: 2rem 0;
}
.project-title {
  color: var(--light-text-clr);
  font-size: 2rem;
}
.project-work {
  font-size: 1.4rem;
  color: var(--primary-clr);
}
.project-stack {
  font-size: 1rem;
  color: var(--light-text-clr);
}

/* PROJECTS SECTION --- END */

/* ABOUT SECTION --- START */

#about-me-section {
  display: flex;
  background: var(--background-clr);
  padding: 20rem 0;
  align-items: center;
  position: relative;
}

.section-title-about {
  position: absolute;
  width: 9%;
  height: 100%;
  top: 2%;
  right: 34%;
  z-index: 0;
  background-image: url("../images/section-about.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.about-left {
  background: var(--light-text-clr);
  position: relative;
  min-height: 45rem;
  width: 50%;
  padding: 4rem 5rem;
  display: flex;
  align-items: center;
}

.about-text {
  font-size: 1.5rem;
  width: 50%;
  line-height: 150%;
  position: relative;
  top: -2rem;
  left: 3rem;
}

.about-text p {
  margin-bottom: 3rem;
}
.about-contact {
  padding: 0.5rem 4rem 0.5rem 1rem;
  background: none;
  font-size: 1rem;
  font-weight: 800;
  border: 4px solid var(--background-clr);
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: start;
  transition: all .4s ease-out;
}

.about-contact:hover {
    color:var(--light-text-clr);
    background: var(--background-clr)
  }

.about-contact img {
  margin-right: 2rem;
}

.about-me-image {
  width: 50%;
  position: absolute;
  right: -12rem;
  top: 50%;
  transform: translateY(-50%);
}
.bolder {
  font-weight: 600;
}

.about-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  z-index: 1;
  overflow-x: hidden;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  min-height: 60rem;
}

.skill-item {
  display: flex;
  margin: 3rem;
  padding-left: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  justify-content: flex-end;
  min-height: 10rem;
  position: relative;
  align-self: flex-start;
}

.skill-item:nth-child(odd) {
  left: -17rem;
}
.skill-item:nth-child(2) {
  left: -5rem;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  justify-content: center;
  align-self: center;
  font-size: 1.2rem;
}
.skill-icon img {
  margin-bottom: 1.5rem;
}
.skill-item ul {
  position: relative;
  top: -2rem;
  right: -2rem;
  margin-left: 1rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ABOUT SECTION --- END */

/* CONTACT SECTION --- START */

#contact-section {
  display: flex;
  width: 100%;
  color: var(--light-text-clr);
  flex-direction: column;
  background: var(--background-clr);
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 5rem;
}

.contact-title-line {
  width: 30%;
  background: var(--primary-clr);
  height: 10px;
  position: absolute;
  top: 7.5rem;
}

.contact-title-line:nth-child(1) {
  left: 0;
}
.contact-title-line:nth-child(2) {
  right: 0;
}

.form-title {
  font-size: 5rem;
  color: var(--primary-clr);
  margin-bottom: 5rem;
  font-weight: 600;
}

#contact-form-div {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 25%,
    rgba(255, 255, 255, 0) 25.1%,
    rgba(255, 255, 255, 0) 74.99%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.5) 100%
  );
  padding: 0 30rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#contact-form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-clr);
  padding: 0 10rem;
  justify-content: center;
  align-items: center;
}

#contact-form-div h2 {
  font-size: 5rem;
  font-weight: 800;
}
#contact-form-div p {
  font-size: 1.5rem;

  font-weight: 300;
}
#contact-form-div form {
  margin-top: 1.5rem;
  width: 100%;
}

.form-control {
  margin: 2rem 0;
}

label {
  font-size: 1.5rem;
}

input {
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-clr);
  box-shadow: 0 0 10px var(--primary-clr);
}

textarea {
  border: none;
  margin: 1rem 0;
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;

  font-family: "Montserrat", sans-serif;
}

button#contact-submit {
  background: var(--primary-clr);
  border: none;
  color: var(--background-clr);
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1.25rem 6rem;
  margin-top: 2rem;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s ease-in-out
;
}

button#contact-submit:hover { 
  background: #faeb00;
   padding: 1.25rem 6.5rem;
    font-size: 1.25rem;
}

/* CONTACT SECTION --- END */

/* GIF SECTION --- START */

#gif-generator {
  width: 100%;
  background: var(--background-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
#gif-generator h1 {
  font-size: 4rem;
  color: var(--primary-clr);
}

.gif-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 2rem;
}
#gif-wrapper {
  width: 50%;
  height: 35rem;
  margin-right: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

#gif-canvas {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /* background-image: url("https://media0.giphy.com/media/l378eFTKVLRSKeXDO/giphy.gif"); */
  z-index: 1;
  align-self: flex-end;
}

#gif-info {
  margin-left: 2rem;
  color: var(--light-text-clr);
}

#gif-generator h3 {
  font-size: 1.8rem;
  color: var(--light-text-clr);
  font-weight: 600;
}
#gif-generator p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#random-cat {
  background: none;
  border: 5px solid var(--primary-clr);
  color: var(--light-text-clr);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  margin: 3rem 0;
  cursor: pointer;
  position: relative;
  transition: all .4s ease-out;
}
#random-cat:hover {
  background: var(--primary-clr);
  color: var(--dark-text-clr);
 
}

#gif-info form {
  position: relative;
}

#gif-info input {
  font-size: 1.3rem;
  padding: 1rem;
}
#gif-info input:hover {
  cursor: text;
}

#new-gif {
  background: var(--background-clr);
  border: 3px solid var(--light-text-clr);
  border-radius: 15px;
  padding: 0.3rem;
  position: absolute;
  margin: 5px;
  top: 0;
  right: 0;
    cursor: pointer;
    transition: all .4s ease-out;
}


#new-gif:hover {

width: 95%;
height: 95%;
}
.warning-text {
  color: red;
}

/* CONTACT SECTION --- END */
/* FOOTER START*/

footer {
  height: 20rem;
  background: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.footer-left {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-left h4 {
  font-size: 1.5rem;
}

.social-btns a {
  margin-top: 2rem;
  display: block;
  padding: 0.5rem 4rem 0.5rem 1rem;
  background: none;
  font-size: 1rem;
  font-weight: 800;
  border: 3px solid var(--light-text-clr);
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: start;
  transition: all .4s ease-out;
}
.social-btns a:hover {
 color: var(--dark-text-clr);
 background: var(--light-text-clr);
}



.social-btns a img {
  margin-right: 2rem;
}
.footer-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
}

/* CHANGES */

.code-line > div {
  height: 5px;
  margin: 0.3rem 0.2rem;
}

.effect-display {
  min-height: 30rem;
  width: 50rem;
}

.card {
  width: 6rem;
  height: 9.5rem;
}

.short-white-line {
  margin: 0.5rem 0;
  height: 2.5px;
}

.circle {
  width: 45px;

  height: 45px;
}

.long-yel-line {
  height: 3px;
}

.short-yel-line {
  width: 0%;
  margin: 0.5rem 0;
  height: 3.3px;
}

.narrow-text-block {
  align-items: flex-start;
}

.narrow-text-block .short-yel-line {
  align-self: flex-end;
}

.narrow-text-block::after {
  height: 250px;
  bottom: -120%;
}

.animation-left {
  padding: 0rem 0 0 1.5rem;
}

.video-player-shadow {
  width: 100px;
  height: 200px;
}

.video-player-animation {
  width: 100px;
  height: 200px;
}

.video-player-shadow::after,
.video-player-shadow::before {
  height: 100%;
}

.player-icon {
  width: 35px;
  height: 35px;
}

.big-text-block::after {
  bottom: -17rem;
  height: 230px;
  left: -0.5rem;
}

.animation-left {
  width: 45%;
}

.animation-right {
  width: 55%;
  padding-top: 1rem;
}

.card-block {
  justify-content: flex-start;
  margin-left: 1.5rem;
}

.linked-blocks {
  align-items: flex-start;
  margin-left: 2.4rem;
  margin-top: 0;
}

.animation-left {
  justify-content: center;
}

.left-left {
  margin-right: 6.5rem;
  top: 2rem;
}

.project-mobile {
  position: relative;
  top: -5rem;
  left: -5rem;
}

.project-mobile img {
  width: 110%;
}

.project-browser img {
  width: 100%;
}

.project-item {
  width: 75%;
}

.section-title-projects {
  width: 10%;

  top: 3%;
  right: 33%;
}

#about-me-section {
  padding: 10rem 0 5rem;
}

.section-title-about {
  width: 10%;
  right: 35%;
}

.about-left {
  min-height: 40rem;
}

.about-me-image {
  width: 45%;
}

.about-text {
  top: 0rem;
  left: 7rem;
}

.about-right {
  width: 55%;
  justify-content: center;
}

.skill-item:nth-child(odd) {
  left: 0;
}
.skill-item:nth-child(2) {
  left: auto;
  right: -5rem;
}

.circle {
  transform: translateY(60px);
}

.short-white-line {
  transform: translateY(-60px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {
  #home-animation {
    padding-right: 0;
  }
  #home-text h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  #home-text h3 {
    font-size: 1.5rem;
  }

  #home-text button {
    border: 4px solid #031946;
    padding: 0.75rem 2.5rem;
    margin: 2rem 0;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .effect-display {
    min-height: 25rem;
    width: 40rem;
  }
  .animation-left {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .left-left {
    margin-right: 0;
  }
  .narrow-text-block {
    width: 5rem;
  }
  .narrow-text-block::after {
    height: 8rem;
    bottom: -60%;
  }

  .narrow-text-block::before {
    content: "A";
    font-size: 2rem;
    color: #e5fd05;
    position: absolute;
    top: -1.25rem;
    left: 0;
  }

  .short-yel-line {
    height: 3px;
  }
  .long-yel-line {
    height: 3px;
  }
  .video-player-animation {
    width: 90px;
    height: 180px;
  }

  .video-player-animation::before {
    left: 25px;
  }

  .video-player-shadow {
    width: 90px;
    height: 180px;
  }
  .player-icon {
    width: 25px;
    height: 25px;
    left: 1.9rem;
    top: 4rem;
  }

  .animation-right {
    padding-top: 0.5rem;
  }

  .card-block {
    align-items: flex-start;
  }

  .card {
    width: 4.5rem;
    height: 7rem;
  }
  .circle {
    width: 30px;
    height: 30px;
    margin-bottom: 0.3rem;
    transform: translateY(40px);
  }

  .short-white-line {
    height: 2px;
    margin: 0.35rem 0;
    transform: translateY(-40px);
  }
  .block-1 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .connector {
    left: 20px;
  }
  .linked-blocks {
    justify-content: flex-start;
    margin-top: 0;
  }

  .big-text-block {
    top: 1rem;
  }

  .big-text-block::after {
    height: 10rem;
    bottom: -12rem;
  }

  .code-display {
    height: 10rem;
    width: 15rem;
    bottom: -7rem;
    left: -4rem;
  }

  .code-line > div {
    height: 3px;
    margin: 0.25rem 0.2rem;
  }

  /* NAVBAR */
  #nav-menu li p {
    padding: 2px;
    font-size: 1rem;
  }
  #nav-menu li {
    padding: 0 2rem;
  }

  #top-logo-text {
    font-size: 1.2rem;
    padding: 0.3rem;
    border: 4px solid var(--background-clr);
  }

  /* PROJECTS */

  .projects {
    padding: 7rem 0;
  }

  .project-item {
    padding: 6rem 3rem;
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
  }
  .project-title {
    font-size: 1.5rem;
  }

  .project-work {
    font-size: 1rem;
  }
  .project-description {
    width: 100%;

    padding: 1.5rem 1rem 1.5rem 3rem;
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  .project-stack {
    font-size: 0.85rem;
  }

  /* ABOUT SECTION */

  #about-me-section {
    padding: 5rem 0 5rem 0;
  }

  .about-left {
    min-height: 35rem;
    width: 50%;
    padding: 4rem;
    display: flex;
    align-items: center;
  }

  .about-text {
    font-size: 1.2rem;

    line-height: 150%;
    top: 0rem;
  }

  .skill-icon {
    font-size: 1rem;
  }

  .skill-item ul {
    font-size: 1rem;
  }

  .about-me-skills {
    min-height: 40rem;
  }

  .skill-item {
    min-height: 5rem;
    position: relative;
    align-self: flex-start;
  }

  .about-right {
    width: 60%;
  }

  /* CONTACT SECTION */

  .form-title {
    font-size: 3.5rem;
    color: var(--primary-clr);
    margin-bottom: 5rem;
    font-weight: 600;
  }

  .contact-title-line {
    height: 7px;

    top: 6.5rem;
  }

  #contact-form-div {
    padding: 0 20rem;
  }

  #contact-form-div p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  label {
    font-size: 1.2rem;
  }
  input,
  textarea {
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.8rem;
  }

  button#contact-submit {
    padding: 1rem 5rem;
    margin-top: 2rem;
  }

  #gif-generator h1 {
    font-size: 3rem;
  }
  #gif-generator h3 {
    font-size: 1.5rem;
    color: var(--light-text-clr);
    font-weight: 600;
  }
  #gif-generator p {
    font-size: 1.2rem;
  }
  #gif-info input {
    font-size: 1.2rem;
    padding: 1rem;
  }

  #random-cat {
    font-size: 1.2rem;

    margin: 2.5rem 0;
  }

  .gif-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 0;
  }

  #gif-info input {
    padding: 0.8rem;
    font-size: 1rem;
  }

  #new-gif {
    padding: 0.1rem;
    margin: 3px;
    border: 3px solid var(--light-text-clr);
  }
  #new-gif img {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 1366px) {
  /* NAV AND HOME */

  #top-logo-text {
    margin-left: 4rem;
  }

  #nav-menu li {
    padding: 0 1.5rem;
  }
  #home-text h3 {
    font-size: 1.2rem;
  }
  #home-text h1 {
    font-weight: bolder;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  #home-text button {
    padding: 0.5rem 2rem;
    margin: 1rem 0;

    font-size: 1.2rem;
  }

  #home-text {
    padding: 0 2rem 0 4rem;
  }
  .animation-container {
    width: 110%;
  }
  .linked-blocks {
    margin-left: 1.5rem;
  }
  .card-block {
    margin-left: 0.5rem;
  }

  .video-player-animation {
    width: 80px;
    height: 160px;
  }
  .video-player-shadow {
    width: 80px;
    height: 160px;
    top: 0.5rem;
    left: 0.5rem;
  }
  .video-player-shadow::after {
    top: 0.75rem;
    left: 0.75rem;
  }
  .video-player-shadow::before {
    top: 1.5rem;
    left: 1.5rem;
  }

  .player-icon {
    left: 1.7rem;
    top: 3.5rem;
  }

  .video-player-animation::before {
    width: 25px;
    height: 9px;
    left: 25px;
    top: -4px;
  }

  .code-display {
    width: 12rem;
    padding: 1rem 0.5rem;
    bottom: -4rem;
    left: -2rem;
  }

  .code-line > div {
    height: 3px;
    margin: 0.25rem 0.1rem;
  }

  .code-line:nth-child(3) > * {
    position: relative;
    left: 0.25rem;
  }

  /* PROJECTS */

  .project-title {
    font-size: 1.2rem;
  }
  .section-title-projects {
    width: 14%;
    top: 1%;
    right: 31%;
  }
  .project-stack,
  .project-work {
    font-size: 0.75rem;
  }
  .project-item {
    padding: 6rem 0rem;
    min-height: 30rem;
  }

  .project-description {
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  /* ABOUT */

  .about-left {
    min-height: 20rem;
    width: 40%;
    padding: 2rem;
    display: flex;
    align-items: center;
  }

  .about-text {
    font-size: 1rem;
    width: 60%;

    top: 0;
    left: 2rem;
  }

  .about-contact {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;

    border: 3px solid var(--background-clr);
  }
  .about-contact img {
    margin-right: 0.75rem;
    width: 20px;
  }
  .about-me-image {
    width: 55%;
    right: -10rem;
    top: 50%;
  }

  .about-right {
    left: 0rem;
    position: relative;
  }
  .section-title-about {
    width: 14%;
    right: 35%;
    top: -2%;
  }
  .skill-icon {
    font-size: 0.75rem;
    padding: 0;
  }
  .skill-icon img {
    margin-bottom: 1.5rem;
    width: 50%;
  }
  .skill-item {
    /* max-height: 10rem; */
    padding-left: 1.5rem;
  }

  .skill-item ul {
    font-size: 0.75rem;
    top: -1rem;
    right: -1rem;
    margin-left: 1rem;
    padding: 1rem 2rem;
    line-height: 150%;
  }

  /* CONTACT */

  #contact-form-content {
    padding: 0 5rem;
  }
  .form-title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  #contact-form-div form {
    margin-top: 1.5rem;
  }

  /* BONUS */

  #gif-generator {
    width: 100%;
    background: var(--background-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 5rem 0;
  }

  #gif-generator h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  #gif-generator h3 {
    font-size: 1.2rem;
  }
  #gif-generator p {
    font-size: 1rem;
  }
  #random-cat {
    border: 4px solid var(--primary-clr);

    font-size: 1.2rem;

    padding: 0.75rem 1.5rem;
    margin: 2rem 0;
    position: relative;
  }
  #gif-wrapper {
    height: 25rem;
    margin-right: 3rem;
  }

  /* FOOTER */

  footer {
    height: 14rem;
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  .footer-left h4 {
    font-size: 1rem;
  }
  .social-btns a {
    margin-top: 1rem;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: none;
    font-size: 0.75rem;

    border: 3px solid var(--light-text-clr);
  }
  .social-btns a img {
    margin-right: 1rem;
    width: 20px;
  }
}

@media screen and (max-width: 1080px) {
  /* NAVBAR HOME */
  #top-logo-text {
    margin-left: 3rem;
  }

  #home-animation {
    padding: 0;
    max-width: 55%;
  }
  .animation-container {
    width: 100%;
  }

  #home-text {
    background: white;
    min-height: 100vh;
    padding: 0 2rem 0 3rem;
  }
  #home-text h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  #home-text h1 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  #home-text button {
    font-size: 1rem;
  }

  #nav-menu li p {
    font-size: 0.75rem;
  }
  #nav-menu li {
    padding: 0 1.5rem;
  }
  #nav-menu li:nth-child(-n + 4) {
    border-right: 3px solid var(--primary-clr);
  }
  #nav-menu {
    margin-right: 0.2rem;
  }

  .code-display {
    width: 10rem;
    height: 7.5rem;
    padding: 0.5rem;
    bottom: -3rem;
    left: -2rem;
  }

  .code-line > div {
    height: 3px;
    margin: 0.2rem 0.1rem;
  }

  .effect-display {
    min-height: 22rem;
    width: 30rem;
  }

  .toolbar-dots > * {
    display: flex;
    margin: 2.5px;

    width: 6px;
    height: 6px;
  }
  .toolbar-left-btns > div > * {
    width: 10px;
    height: 10px;
  }
  .toolbar-middle > div > * {
    width: 10px;
    height: 10px;
  }
  .toolbar-middle p {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.5rem;
  }
  .toolbar-middle {
    width: 60%;
  }
  .toolbar-mac img {
    width: 100%;
  }
  .toolbar-mac {
    align-self: flex-end;
    width: 15%;
  }

  .card {
    margin: 0.35rem;
  }
  .linked-blocks {
    margin-left: 0.5rem;
  }

  .card-block {
    margin-left: 0rem;
  }
  .big-text-block::after {
    left: 0rem;
    height: 8rem;
    bottom: -10rem;
  }
  .block-1 {
    height: 2rem;
    width: 2rem;
  }
  .connector {
    left: 15px;
    height: 60px;
  }

  .narrow-text-block {
    width: 3rem;
  }

  .narrow-text-block::after {
    height: 10rem;
    bottom: -110%;
  }

  .narrow-text-block::before {
    font-size: 1.2rem;
    color: #e5fd05;
    position: absolute;
    top: -0.7rem;
    left: 0;
  }

  .long-yel-line {
    margin: 0.3rem 0;
  }
  .short-yel-line {
    margin: 0.3rem 0;
  }

  .left-right {
    top: 1rem;
  }

  .video-player-animation {
    width: 70px;
    height: 140px;
  }

  .video-player-animation::before {
    left: 18px;
  }

  .video-player-shadow {
    width: 70px;
    height: 140px;
  }
  .player-icon {
    width: 20px;
    height: 20px;
    left: 1.5rem;
    top: 3rem;
  }

  /* PROJECTS */

  .projects {
    padding: 7rem 0 5rem 0;
  }

  .section-title-projects {
    width: 14%;
    top: 1%;
    right: 28%;
  }

  .project-info {
    width: 45%;
  }

  .project-item {
    width: 90%;
    padding: 2rem 0rem;
  }

  .project-mobile {
    position: relative;
    top: -2rem;
    left: -4rem;
  }

  .project-title {
    font-size: 1rem;
  }
  .project-description {
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    font-size: 0.75rem;
    margin: 1rem 0;
  }
  .project-stack,
  .project-work {
    font-size: 0.5rem;
  }

  /* ABOUT SECTION */
  #about-me-section {
    padding: 5rem 0;
    flex-direction: column;
  }
  .about-left {
    min-height: 20rem;
    width: 70%;
    padding: 2rem;
  }
  .about-me-image {
    width: 40%;
    right: -7rem;
    top: 50%;
  }
  .skill-item {
    height: 13rem;
  }
  .section-title-about {
    width: 12%;
    right: auto;
    left: 2rem;
    top: -20%;
  }
  .about-me-skills {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: auto;
  }
  .about-right {
    width: 100%;
    left: 0;
  }

  .skill-item:nth-child(2) {
    left: auto;
    right: 0;
  }
  .skill-item:nth-child(odd) {
    left: auto;
  }

  /* CONTACT */
  #contact-form-content {
    padding: 0;
  }
  #contact-form-div {
    padding: 0 15rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 14.99%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 84.99%,
      rgba(255, 255, 255, 0.5) 85%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
  #contact-form-div p {
    font-size: 1rem;
  }
  .form-control {
    margin: 1.5rem 0;
  }
  label,
  input,
  textarea {
    font-size: 1rem;
  }
  button#contact-submit {
    padding: 1rem 5rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  /* BONUS */

  .gif-section {
    width: 80%;
    flex-direction: column;
  }
  #gif-wrapper {
    height: 25rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  #gif-info {
    width: 60%;
    text-align: center;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #random-cat {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  #new-gif {
    padding: 0.1rem;
    position: absolute;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  #gif-info input {
    padding: 0.8rem;
    font-size: 0.75rem;
    width: 15rem;
  }
  #gif-info sub {
    padding: 0.5rem 0rem;
    font-size: 0.75rem;
    width: 15rem;
  }
}

@media screen and (max-width: 850px) {
  /* NAVBAR HOME */
  #top-logo-text {
    margin-left: 2rem;
    font-size: 1rem;
    padding: 0.25rem;
  }

  #nav-menu li p {
    font-size: 0.7rem;
  }
  #nav-menu li {
    padding: 0 1rem;
  }
  #nav-menu li:nth-child(-n + 4) {
    border-right: 2px solid var(--primary-clr);
  }
  #nav-menu {
    margin-right: 0.1rem;
  }

  #home-animation {
    padding: 0;
  }
  .animation-container {
    width: 100%;
  }

  #home-text {
    background: white;
    min-height: 100vh;
    padding: 0 2rem;
  }
  #home-text h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  #home-text h1 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  #home-text button {
    font-size: 1rem;
  }

  header {
    min-height: 3rem;
  }

  .animation-canvas {
    width: 102%;
  }

  .animation-right {
    width: 100%;
    justify-content: center;
  }
  .animation-items {
    flex-direction: column-reverse;
  }

  .code-display {
    width: 8rem;
    height: 7rem;

    bottom: -6rem;
    left: 6rem;
  }

  .code-line > div {
    height: 2px;
    margin: 0.2rem 0.1rem;
  }

  .effect-display {
    min-height: 25rem;
    width: 20rem;
  }

  .toolbar-dots > * {
    display: flex;
    margin: 2px;

    width: 5px;
    height: 5px;
  }
  .toolbar-left-btns > div > * {
    width: 8px;
    height: 8px;
  }
  .toolbar-middle > div > * {
    width: 8px;
    height: 8px;
  }
  .toolbar-middle p {
    font-size: 0.5rem;
  }
  .toolbar-middle {
    width: 60%;
    justify-content: space-between;
  }
  .toolbar-mac img {
    width: 100%;
  }
  .toolbar-mac {
    align-self: flex-end;
    width: 15%;
  }
  .icon-mac-lock-address {
    display: flex;
    justify-self: flex-start;
  }

  .card-block {
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 0.5rem;
    width: 4.5rem;
    height: 7rem;
    padding-top: 0;
  }

  .circle {
    width: 25px;
    height: 25px;
    margin-bottom: 0.3rem;
    border-width: 2px;
  }
  .short-white-line {
    height: 2px;
    margin: 0.3rem 0;
  }
  .linked-blocks {
    margin-left: 0.5rem;
  }

  .big-text-block::after {
    left: 0rem;
    height: 8rem;
    bottom: -10rem;
  }
  .block-1 {
    height: 2rem;
    width: 2rem;
  }
  .connector {
    left: 15px;
    height: 60px;
  }

  .narrow-text-block {
    display: none;
  }

  .narrow-text-block::after {
    height: 10rem;
    bottom: -110%;
  }

  .narrow-text-block::before {
    font-size: 1.2rem;
    color: #e5fd05;
    position: absolute;
    top: -0.7rem;
    left: 0;
  }

  .long-yel-line {
    margin: 0.3rem 0;
  }
  .short-yel-line {
    margin: 0.3rem 0;
  }

  .left-right {
    top: 1rem;
  }

  .video-player-animation {
    display: none;
  }

  .animation-left {
    flex-direction: column-reverse;
    padding-right: 0;
    width: 40%;
  }
  .code-line:nth-child(8) > *:nth-child(1) {
    position: relative;
    left: 0.25rem;
  }

  .big-text-block {
    width: 45%;
    margin-right: 1rem;
    top: 2rem;
  }
  .linked-blocks {
    top: 1rem;
  }

  /* ABOUT */
  .skill-item {
    border-radius: 10px;
    flex-direction: column;
    padding: 0;
    min-width: 10rem;
    min-height: 17rem;
    position: relative;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
  }

  .skill-item ul {
    font-size: 0.75rem;
    top: 0rem;
    width: 100%;
    right: 0rem;
    margin-left: 0;
    padding: 1rem 2rem;
    border-radius: 0 0 5px 5px;
    height: 10rem;
  }
  .skill-icon {
    margin-top: 1.5rem;
  }
  .skill-icon img {
    margin-bottom: 0.5rem;
  }
  #gif-wrapper {
    height: 20rem;
  }
  .contact-title-line {
    height: 5px;
    width: 25%;
  }
}

@media screen and (max-width: 731px) {
  .home {
    justify-content: flex-start;
    background-color: #031946;
  }
  #top-logo-text {
    margin-left: 2rem;
    font-size: 0.75rem;
    padding: 0.2rem;
    border-width: 3px;
  }
  #nav-menu li {
    font-size: 1rem;
    padding: 0 1rem;
    border-width: 2px;
  }
  #home-text h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #home-text h1 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .projects {
    padding: 8rem 0 3rem 0;
  }
  .project-mobile {
    position: absolute;
    top: -2rem;
    right: -2rem;
    bottom: auto;
    left: auto;
    align-self: flex-end;
  }
  .project-item {
    flex-direction: column;
    position: relative;
    max-width: 80%;
    min-height: auto;
    width: auto;
    min-width: auto;
    align-items: flex-start;
    padding: 0;
  }
  .project-item:nth-child(2) {
    margin-bottom: 5rem;
  }
  .project-mobile img {
    max-width: 60%;
  }
  .project-browser img {
    max-width: 70%;
  }
  .section-title-projects {
    width: 18%;
    top: 2%;
    right: 5%;
  }
  .project-info {
    max-width: 80%;
    width: auto;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    height: auto;
    min-height: auto;
  }
  .project-description {
    padding: 1rem;
  }

  /* ABOUT */

  #about-me-section {
    padding: 15rem 0 7rem 0;
  }

  .about-left {
    min-height: auto;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    justify-content: space-around;
  }
  .about-right {
    margin-top: 2rem;
  }
  .about-me-image {
    width: 40%;
    right: auto;
    top: -4rem;
    position: relative;
    transform: translateY(0);
  }
  .about-text {
    font-size: 0.75rem;
    width: 50%;
    top: 0;
    left: 0rem;
  }
  .about-text p {
    margin-bottom: 2rem;
  }

  .about-contact {
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    border: 2px solid var(--background-clr);
  }



  .about-me-skills {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: auto;
  }
  .section-title-about {
    width: 12%;
    right: auto;
    left: 12rem;
    top: -21rem;
    transform: rotate(90deg);
    z-index: 0;
  }
  .skill-item {
    margin: 1rem;
    padding: 0;
    justify-content: space-between;
    position: relative;
    align-self: flex-start;
  }

  .skill-item ul {
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    list-style-position: inside;
  }
  .skill-icon {
    align-items: center;
  }

  /* CONTACT */

  #contact-form-div {
    padding: 0 10rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 14.99%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 84.99%,
      rgba(255, 255, 255, 0.5) 85%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
  #gif-wrapper {
    min-height: 15rem;
  }
  .contact-title-line {
    width: 20%;
  }
  #about-me-section {
    overflow-x: hidden;
  }
  .section-title-about {
    right: 0;
    left: 12rem;
    top: -16rem;
  }
  footer {
    height: 14rem;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
    padding: 0.5rem;
  }
  .footer-right {
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .footer-right sub {
    font-size: 10px;
  }
}

@media screen and (max-width: 680px) {
  #top-logo-text {
    margin: 1rem;
    font-size: 0.75rem;
    padding: 0.3rem;
    border-width: 3px;
    color: var(--light-text-clr);
    border: 2px solid var(--light-text-clr);
  }
  #home-animation {
    display: none;
  }

  header {
    background-color: var(--background-clr);
  }
  #home-text {
    background: var(--background-clr);
    width: 90%;
    padding-left: 6rem;
    color: white;
  }

  #home-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
  }
  #home-text h1 {
    font-size: 2.5rem;
  }
  .home-text-decor {
    color: var(--primary-clr);
    background: none;
    /* border-bottom: 3px solid var(--primary-clr); */
  }
  #home-text button {
    font-size: 1.5rem;
    border: 4px solid var(--light-text-clr);
    color: var(--light-text-clr);
    padding: 0.75rem 2.5rem;
    margin: 2rem 0;
    font-weight: lighter;
    font-size: 1.5rem;
    background: none;
  }

  .project-mobile {
    position: absolute;
    top: -2rem;
    right: -2rem;
    bottom: auto;
    left: auto;
    align-self: flex-end;
  }
  .project-mobile img {
    max-width: 50%;
    width: auto;
  }

  /* ABOUT  */
  .about-left {
    padding: 1rem;
  }

  .about-me-skills {
    border: 3px solid white;
    border-radius: 10px;
  }

  .about-me-image {
    width: 40%;
    right: auto;
    top: 0rem;
  }

  .skill-item ul {
    padding: 0.75rem;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  }

  .skill-item {
    margin: 0rem;
    border-radius: 0;
    border: 3px solid white;
  }

  /* CONTACT */

  .contact-title-line {
    max-width: 15%;
  }

  #contact-form-div {
    padding: 0 7rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 14.99%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 84.99%,
      rgba(255, 255, 255, 0.5) 85%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }
  /* BONUS */
  #gif-generator h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 486px) {
  #home-text h3 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  #home-text h1 {
    font-size: 2rem;
  }
  #top-logo-text {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.3rem;
    border-width: 3px;
    color: var(--light-text-clr);
    border: 2px solid var(--light-text-clr);
  }
  #top-logo-text.scrolled {
    border: 2px solid var(--light-text-clr);
  }
  #nav-menu {
    position: absolute;
    right: 0;
    height: 95vh;
    top: 5vh;
    background: var(--dark-text-clr);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    margin: 0;
  }
  .toggle .menu-btn_line1 {
    transform: rotate(-45deg) translate(-8px, 10px);
  }
  .toggle .menu-btn_line2 {
    opacity: 0;
  }
  .toggle .menu-btn_line3 {
    transform: rotate(45deg) translate(-8px, -10px);
  }
  #nav-menu.menu-active {
    transform: translateX(0%);
    /* display: flex; */
  }

  #nav-menu li {
    opacity: 0;
  }
  #nav-menu li p {
    font-size: 1.2rem;
  }
  #nav-menu li:nth-child(-n + 4) {
    border-right: none;
  }

  .menu-btn {
    display: block;
    padding: 0.5rem;
  }
  header {
    color: var(--background-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.6s ease-in-out;
    padding: 0.5rem;
    background-color: var(--dark-text-clr);
  }
  header.scrolled {
    color: var(--background-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.6s ease-in-out;
    background-color: var(--dark-text-clr);
  }

  /* PROJECTS  */

  .projects {
    padding: 3rem 0 3rem 0;
  }
  .project-item {
    max-width: 90%;
  }
  .project-browser img {
    max-width: 100%;
  }
  .project-mobile {
    top: -1rem;

    right: -12rem;
  }
  .section-title-projects {
    width: 10%;
    top: -47%;
    transform: rotate(270deg);
    right: auto;
    left: 50%;
    /* display: none; */
  }
  .project-info {
    max-width: 100%;
  }
  /* ABOUT  */

  #about-me-section {
    padding: 7rem 0;
  }
  .section-title-about {
    right: auto;
    left: 50%;
    top: -42%;
  }

  .about-me-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    border: none;
    width: 100%;
  }
  .about-left {
    justify-content: flex-start;
  }

  .skill-item {
    flex-direction: row;
    border: none;
    width: 100%;

    justify-content: space-evenly;
    min-width: auto;
    min-height: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .skill-item ul {
    align-self: center;
    height: auto;
    max-width: 60%;
    justify-content: center;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .skill-icon {
    padding-bottom: 1rem;
    justify-self: center;
    align-self: center;
  }

  .about-me-image {
    width: 60%;
    right: auto;
    position: absolute;
    top: auto;
    right: -4rem;
  }
  .about-text {
    font-size: 0.75rem;
    width: 50%;
    top: 0;
    left: 0rem;
  }

  /* CONTACT */

  #contact-section {
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 0 2rem;
  }

  .contact-title-line:nth-child(1) {
    display: none;
  }
  .contact-title-line {
    height: 3px;
    top: 1.15rem;
    width: 15%;
  }
  .form-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  #contact-form-div {
    padding: 0 0rem;
    background: none;
  }
  #contact-form-div p {
    font-size: 0.75rem;
  }
  .form-control {
    margin: 1rem 0;
  }

  label,
  input,
  textarea {
    font-size: 0.75rem;
    margin: 0.3rem 0;
  }
  button#contact-submit {
    padding: 0.75rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: none;
    width: 100%;
  }

  #gif-generator {
    padding: 8rem 2rem;

    justify-content: center;
    align-items: center;
  }
  #gif-generator h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  .gif-section {
    align-self: flex-start;
    width: 100%;
  }
  #gif-wrapper {
    height: 10rem;
  }
  #gif-generator h3 {
    font-size: 1rem;
  }
  #gif-generator p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 110%;
  }
}

@media screen and (max-width: 390px) {
  /* NAVBAR */

  #nav-menu li p {
    font-size: 1rem;
  }
  /* HOME */

  .home {
    position: relative;
    top: 3rem;
  }
  #home-text {
    background: var(--background-clr);
    width: 100%;
    padding-left: 4rem;
    color: white;
  }
  #home-text h1 {
    font-size: 1.5rem;
  }
  #home-text h3 {
    font-size: 1rem;
  }

  #home-text button {
    font-size: 1rem;
    border: 3px solid var(--light-text-clr);
    color: var(--light-text-clr);
    padding: 0.75rem 2.5rem;
    margin: 2rem 0;
    font-weight: lighter;
    background: none;
  }
  /* PROJECTS */

  /* ABOUT */
  #about-me-section {
    padding: 7rem 0;
  }

  .section-title-about {
    right: auto;
    left: 50%;
    top: -42%;
  }
  .about-me-image {
    width: 60%;
    right: auto;
    position: absolute;
    top: auto;
    right: -4rem;
  }
  .about-text {
    font-size: 0.75rem;
    width: 50%;
    top: 0;
    left: 0rem;
  }
  .about-left {
    justify-content: flex-start;
  }
  #gif-wrapper {
    width: 70%;
  }
  #gif-info {
    width: 80%;
  }
  #random-cat {
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }
  #gif-generator {
    padding: 5rem 2rem;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
